*{
    box-sizing: border-box;
}


header{
    background-color: #e8d1c5;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: whitesmoke;
}

nav{
    width: 20%;
    padding: 20px;
    background-color: #eddcd2;
    float: left;
    height: 450px;
}

nav ul{
    padding: 5;
}

article{
    background-color: #fff1e6;
    padding: 20px;
    height: 450px;
    width: 80%;
    float: left;
}

section::after{
    content: "";
    display: table;
    clear: both;
}


footer{
    background-color: #e8d1c5;
    padding: 10px;
    text-align: center;
    color: black;
}